[Desktop Entry]
Type=Application
Name=stiff
Comment=Keyboard-first file manager
Exec=stiff %f
Icon=stiff
Categories=System;FileTools;FileManager;
MimeType=inode/directory;
Terminal=false
StartupWMClass=stiff
